.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-icon {
  position: fixed;
  top: 3%;
  right: 3%;
  cursor: pointer;
  z-index: 1000;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/assets/fonts/Montserrat-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/assets/fonts/Montserrat-SemiBold.ttf') format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/assets/fonts/Montserrat-Italic.ttf') format('woff2');
  font-weight: 400;
  font-style: italic;
  
}

body {
  font-family: 'Montserrat';
}

.header {
  border-bottom: 1px solid #ddd;
  border-width: 70%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}
.highlight {
  color: rgb(43, 43, 241);
}
