.journal-container {
    display:grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}
.past-entries {
    margin: 5%;
    
}
.entry-box {
    border: 1px solid darkgrey;
    border-radius: 20px;
    padding: 2%;
    margin: 2%;
    cursor: pointer;
}
.entry-editor {
    margin: 0 5%;
}
h3 {
    text-align: center;
}
.buttons {
    margin-top:1%;
}
.new-icon {
    display:block;
    margin: auto;
    
}
.past-entries {
    overflow-y: auto; 
    height: 100%; 
}