.journal-container {
    display:grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.entry-box {
    border: 1px solid rgb(43, 43, 241);
    background-color: white;
    border-radius: 20px;
    padding: 2%;
    margin: 2%;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        color 0.3s ease; 
}
.entry-box > p {
    color: gray;
}
.entry-box:hover {
    background-color:rgb(43, 43, 241);
}
.entry-box:hover h4, .entry-box:hover p {
    color: white;
}

.entry-editor {
    height:100vh;
}

.edit-space {
    margin: 3%;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 2%;
    box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.9);
}

.past-entries h3 {
    text-align: center;
    color: white;
}
.entry-box h4 {
    text-align: center;
    color: rgb(43, 43, 241);
}
.buttons {
    margin-top:1%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 10px;
}
.buttons button {
    border: 1px solid rgb(43, 43, 241);
    color: rgb(43, 43, 241);
    background-color: white;
    padding: 1%;
    border-radius: 25px;
    cursor: pointer;
    width: 20%;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    
}
.buttons button:hover {
    background-color: rgb(43, 43, 241);
    color: white;
}
.new-icon {
    display:block;
    margin: auto;
    color: rgb(43, 43, 241);
}
.entry-box:hover .new-icon {
    color: white;
}
.past-entries {
    position: sticky;
    top:0;
    left:0;
    overflow-y: auto; 
    height: 100vh; 
    margin: 5%;
    box-sizing:border-box;
}

.journal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-image: url("../../public/assets/tentative-bg.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}
#new-entry {
    height: 150px;
}
#new-entry .new-icon {
    margin: auto;

}

.entry-editor .header {
    border-bottom: 1px solid #ddd;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 20px;
    box-sizing: border-box;
}

.entry-editor .header h1 {
    margin-top: 0;
    font-size: 1.8rem; 
}