.login-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px; /* Optional: adds space between elements */
}
.login-form input, .login-form button {
    width: 20%;
    padding: 3px;
    box-sizing: border-box;
    margin: 0 auto;
    display:block;
}
h4, h5 {
    text-align: center;
}
.register-link {
    text-align: center;
    display: block;
    margin:0 auto;
}