.register-container {
    height: 100vh;
    background-image: url("../../public/assets/doc-dash-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.register-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.register-form input, .register-form .register-button {
    width: 80%;
    padding: 3px;
    box-sizing: border-box;
    margin: 0 auto;
    display:block;
}
.register-container h4 {
    text-align: center;
    color: rgb(43, 43, 241);
    transform: scale(1.2);
}
.register-button {
    background-color: rgb(43, 43, 241);
    color: white;
}
.register-form-container {
    background-color: rgba(255, 255, 255, 0.5);
    width: 40%;
    padding: 5%;
    backdrop-filter: blur(8px);
    margin: 100px auto;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.9);
}