.side-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  background-color: #228be6;
}

.side-panel.open {
  transform: translateX(0);
}

.side-panel ul {
  list-style: none;
  padding: 0;
}

.side-panel li {
  margin: 10px 0;
  border-bottom: 1px solid white;
  padding: 10% 0;
}

.side-panel a {
  text-decoration: none;
  color: white;
  /* color: #333; */
}

.close-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  color:white;
}