
.summary-container {
    padding: 5%;
    margin: 1%;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    text-align:left;
    justify-content: flex-start;
    align-items: flex-start;
}
.download-icon {
    margin: 5% auto;
    cursor: pointer;
}
.summary-download {
    display:flex;
    flex-flow: row nowrap;
}